includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  paths:
    - app
    - config
    - database
    - lang
    - resources
    - routes
    - tests

  # The level 9 is the highest level
  # https://phpstan.org/user-guide/rule-levels
  level: 5

  # https://phpstan.org/config-reference#universal-object-crates
  universalObjectCratesClasses:
  - App\Models\Usuario
  - App\Models\Localidade
  - App\Models\Predio
  - App\Models\Andar
  - App\Models\Sala
  - App\Models\Estante
  - App\Models\Prateleira
  - App\Models\Caixa
  - App\Models\VolumeCaixa
  - App\Models\Processo
  - App\Models\Solicitacao
  - App\Models\Guia
  - App\Http\Resources\Localidade\LocalidadeOnlyResource
  - App\Http\Resources\Localidade\LocalidadeEditResource
  - App\Http\Resources\Localidade\LocalidadeResource
  - App\Http\Resources\Predio\PredioOnlyResource
  - App\Http\Resources\Predio\PredioEditResource
  - App\Http\Resources\Predio\PredioResource
  - App\Http\Resources\Andar\AndarOnlyResource
  - App\Http\Resources\Andar\AndarEditResource
  - App\Http\Resources\Andar\AndarResource
  - App\Http\Resources\Sala\SalaOnlyResource
  - App\Http\Resources\Sala\SalaEditResource
  - App\Http\Resources\Sala\SalaResource
  - App\Http\Resources\Caixa\CaixaOnlyResource
  - App\Http\Resources\Caixa\CaixaEditResource
  - App\Http\Resources\Caixa\CaixaResource
  - App\Http\Resources\Estante\EstanteOnlyResource
  - App\Http\Resources\Estante\EstanteEditResource
  - App\Http\Resources\Estante\EstanteResource
  - App\Http\Resources\Prateleira\PrateleiraOnlyResource
  - App\Http\Resources\Prateleira\PrateleiraEditResource
  - App\Http\Resources\Prateleira\PrateleiraResource
  - App\Http\Resources\VolumeCaixa\VolumeCaixaOnlyResource
  - App\Http\Resources\VolumeCaixa\VolumeCaixaEditResource
  - App\Http\Resources\VolumeCaixa\VolumeCaixaResource
  - App\Http\Resources\Processo\ProcessoOnlyResource
  - App\Http\Resources\Processo\ProcessoEditResource
  - App\Http\Resources\Processo\ProcessoResource
  - App\Http\Resources\Cargo\CargoOnlyResource
  - App\Http\Resources\Lotacao\LotacaoOnlyResource
  - App\Http\Resources\Usuario\UsuarioOnlyResource
  - App\Http\Resources\Solicitacao\SolicitacaoOnlyResource
  - App\Http\Resources\Solicitacao\SolicitacaoResource
  - App\Http\Resources\Guia\GuiaOnlyResource
  - App\Http\Resources\Guia\GuiaResource
  - App\Http\Resources\Funcao\FuncaoOnlyResource
  - App\Http\Resources\Perfil\PerfilOnlyResource
  - App\Http\Resources\Usuario\UsuarioOnlyResource
  - App\Http\Resources\Usuario\UsuarioResource
  - FruiVita\Corporativo\Models\Lotacao
  - LdapRecord\Models\ActiveDirectory\User

  # https://phpstan.org/user-guide/ignoring-errors
  ignoreErrors:
    -
      message: '#Undefined variable: \$this#'
      path: tests/*
    -
      message: '#Call to an undefined static method Illuminate\\Support\\Facades\\[a-zA-Z]+::should[Not]*HaveReceived\(\)#'
      path: tests/*
    - '#Call to an undefined method LdapRecord\\Models\\ActiveDirectory\\User::[can\|canany\|loadMissing]+\(\)#'
    - '#Call to an undefined method Faker\\Generator::numeroProcesso[CNJ\|V1\|V2]+\(\)#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder.*[search]+\(\)#'

  tmpDir: build/phpstan

  checkOctaneCompatibility: true

  checkModelProperties: true

  checkMissingIterableValueType: false
