includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  paths:
    - app
    - config
    - database
    - lang
    - resources
    - routes
    - tests

  # The level 9 is the highest level
  # https://phpstan.org/user-guide/rule-levels
  level: 5

  # https://phpstan.org/config-reference#universal-object-crates
  universalObjectCratesClasses:
    - App\Http\Livewire\Autorizacao\Delegacao\DelegacaoLivewireIndex
    - App\Http\Livewire\Autorizacao\Permissao\PermissaoLivewireIndex
    - App\Http\Livewire\Autorizacao\Permissao\PermissaoLivewireUpdate
    - App\Http\Livewire\Autorizacao\Perfil\PerfilLivewireIndex
    - App\Http\Livewire\Autorizacao\Perfil\PerfilLivewireUpdate
    - App\Http\Livewire\Autorizacao\Usuario\UsuarioLivewireIndex
    - App\Http\Livewire\Administracao\Log\LogLivewireIndex
    - App\Http\Livewire\Arquivamento\Cadastro\Caixa\CaixaLivewireCreate
    - App\Http\Livewire\Arquivamento\Cadastro\Caixa\CaixaLivewireIndex
    - App\Http\Livewire\Arquivamento\Cadastro\Caixa\CaixaLivewireUpdate
    - App\Http\Livewire\Arquivamento\Cadastro\Localidade\LocalidadeLivewireCreate
    - App\Http\Livewire\Arquivamento\Cadastro\Localidade\LocalidadeLivewireIndex
    - App\Http\Livewire\Arquivamento\Cadastro\Localidade\LocalidadeLivewireUpdate
    - App\Http\Livewire\Arquivamento\Cadastro\Predio\PredioLivewireCreate
    - App\Http\Livewire\Arquivamento\Cadastro\Predio\PredioLivewireIndex
    - App\Http\Livewire\Arquivamento\Cadastro\Predio\PredioLivewireUpdate
    - App\Http\Livewire\Arquivamento\Cadastro\Andar\AndarLivewireCreate
    - App\Http\Livewire\Arquivamento\Cadastro\Andar\AndarLivewireIndex
    - App\Http\Livewire\Arquivamento\Cadastro\Andar\AndarLivewireUpdate
    - App\Http\Livewire\Arquivamento\Cadastro\Sala\SalaLivewireCreate
    - App\Http\Livewire\Arquivamento\Cadastro\Sala\SalaLivewireIndex
    - App\Http\Livewire\Arquivamento\Cadastro\Sala\SalaLivewireUpdate
    - App\Http\Livewire\Arquivamento\Cadastro\Estante\EstanteLivewireCreate
    - App\Http\Livewire\Arquivamento\Cadastro\Estante\EstanteLivewireIndex
    - App\Http\Livewire\Arquivamento\Cadastro\Estante\EstanteLivewireUpdate
    - App\Http\Livewire\Arquivamento\Cadastro\Prateleira\PrateleiraLivewireCreate
    - App\Http\Livewire\Arquivamento\Cadastro\Prateleira\PrateleiraLivewireIndex
    - App\Http\Livewire\Arquivamento\Cadastro\Prateleira\PrateleiraLivewireUpdate
    - Illuminate\Database\Eloquent\Model
    - LdapRecord\Models\ActiveDirectory\User

  # https://phpstan.org/user-guide/ignoring-errors
  ignoreErrors:
    -
      message: '#Undefined variable: \$this#'
      path: tests/*
    -
      message: '#Call to an undefined static method Illuminate\\Support\\Facades\\[a-zA-Z]+\:\:should[Not]*HaveReceived\(\)#'
      path: tests/*
    -
      message: '#Call to an undefined static method App\\Models\\[a-zA-Z]+\:\:[orderByWhen|orWhereLike]+\(\)#'
      paths:
        - app/Http/Livewire/*
        - tests/*
    -
      message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\[a-zA-Z]+\>\:\:[orderByWhen|orWhereLike]+\(\)#'
      paths:
        - app/Http/Livewire/*
        - tests/*
    - '#Call to an undefined method LdapRecord\\Models\\ActiveDirectory\\User\:\:can\(\)#'
    - '#Call to an undefined method LdapRecord\\Models\\ActiveDirectory\\User\:\:delegar\(\)#'

  tmpDir: build/phpstan

  checkOctaneCompatibility: true

  checkModelProperties: true

  checkMissingIterableValueType: false
