includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  paths:
    - app
    - config
    - database
    - lang
    - resources
    - routes
    - tests

  # The level 9 is the highest level
  # https://phpstan.org/user-guide/rule-levels
  level: 5

  # https://phpstan.org/config-reference#universal-object-crates
  universalObjectCratesClasses:
    - App\Http\Livewire\Archiving\Register\Box\BoxLivewireIndex
    - App\Http\Livewire\Authorization\Delegation\DelegationLivewireIndex
    - App\Http\Livewire\Authorization\Permission\PermissionLivewireIndex
    - App\Http\Livewire\Authorization\Permission\PermissionLivewireShow
    - App\Http\Livewire\Authorization\Permission\PermissionLivewireUpdate
    - App\Http\Livewire\Authorization\Role\RoleLivewireIndex
    - App\Http\Livewire\Authorization\Role\RoleLivewireShow
    - App\Http\Livewire\Authorization\Role\RoleLivewireUpdate
    - App\Http\Livewire\Authorization\User\UserLivewireIndex
    - App\Http\Livewire\Administration\Documentation\DocumentationLivewireIndex
    - App\Http\Livewire\Administration\Log\LogLivewireIndex
    - Illuminate\Database\Eloquent\Model
    - LdapRecord\Models\ActiveDirectory\User

  # https://phpstan.org/user-guide/ignoring-errors
  ignoreErrors:
    -
      message: '#Undefined variable: \$this#'
      path: tests/*
    -
      message: '#Call to an undefined static method Illuminate\\Support\\Facades\\[a-zA-Z]+\:\:should[Not]*HaveReceived\(\)#'
      path: tests/*
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:[previous\|next]+\(\)#'
    - '#Call to an undefined method LdapRecord\\Models\\ActiveDirectory\\User\:\:can\(\)#'

  tmpDir: build/phpstan

  checkOctaneCompatibility: true

  checkModelProperties: true

  checkMissingIterableValueType: false
